{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-class-properties", // this allows for cleaner key-value pair properties and methods in classes 
        "transform-object-rest-spread",
        "transform-async-to-generator"
    ]
}